@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root{
    --cream:#f7f1f3;
    --gray:#954860;
    --red:#a03434;
    --black:#000000;
    --unemph_text: #954860;
    --font-size-base: 1rem;
}

body{
    min-height: 100vh;
    font-family: "Lexend",sans-serif;
    color: var(--cream);
    font-size: var(--font-size-base);
    background-color: var(--gray);
    margin: 0;
}

a {
    color: var(--cream);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea{
    width: 100%;
    font-family:"Lexend",sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    padding: 0.7rem 0.75rem;
    margin-bottom: 0rem;
}

input[type=submit]{
    background: var(--red);
}

.btn {
    font-size: 2rem;
    border: none;
    font-family: "Lexend",sans-serif;
    color: var(--cream);
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete{
    padding: 16px 32px;
    background-color: red;
}

/*LAYOUT*/

.container{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main{
    padding: 0px 40px;
    flex-shrink: 0;
    flex-grow: 1;

}

@media(max-width: 800px){
    .main{
        padding:0 0;
        margin: 0;
    }
}


.header{
    box-shadow: 0 5px 5px  #00000050;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 100%;
    background-color: var(--red);
    grid-template-areas: "menu button";

}

.header__logo{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: var(--red);
}

.header__logo a{
    text-decoration: none;
}

.header__nav{
    grid-area: menu; 
    float: left;
    list-style-type: none;
    
}

.header__nav ul{
    list-style-type: none;
    display: flex;
    color: var(--cream);
    margin: 0;
    padding: 15px 0px;

    
}

.header__nav ul li{
    color: var(--cream);
}

.header__nav ul li a{
    padding:15px;
    text-decoration: none;
}

.header__nav ul a:hover{
    background:var(--cream);
    color: var(--black);
    transition: 0.3s;
}

.header__button{
    align-content: center;
    padding: 0rem 15px;
}

.header__button button{
    float: right;
    font-family: "Lexend",sans-serif;
    padding:.2rem 2rem;
    border-radius: 10px;
    border: solid 2px;
    border-color: transparent;
    background: var(--cream);  
}

.header__button button:hover{
    border: solid 2px;
    transition: 0.3s;
}



.searchBar{
    position: absolute;
    left:0;
    right:0;
    visibility: hidden;
    transform: translateY(-3rem);
    transition: 0.1s;
    z-index: 10;
    width:100%;
    align-content: center;
    display:inline-block;
    height: 3rem;
    background-color: var(--black);
    padding: 4px 0;
   
}

.searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;
}

.search__form{
    margin:0 4rem;
}

#searchClose{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1rem;
    cursor: pointer;
}

/*HOMEPAGE ARTICLES*/
.articles{
    align-content: center;
}


.article-list__title{
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
}

.article-list__preview{
    font-weight: 300;
    text-indent: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-list__date{
    
    position:absolute;
    right:0px;
    bottom:0px;
    padding:15px;
    color: var(--unemph_text);
}

.post{
    
    text-decoration: none;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-direction: column;
    filter: drop-shadow(0px 0px 5px #00000090);
    background: var(--gray);
    padding: 1.5rem;
    margin-bottom:1.5rem;
    transition:0.1s;
}


.post img{
    object-fit: cover;
    float: left;
    height: 200px;
    width:200px;
    padding: 15px;
    transition: 0.1s;
}



.post:hover{
    filter: drop-shadow(0px 0px 5px #000000c0);
    font-size: 1.2rem;
    transition: 0.1s;
}
.post:hover img{
    height:220px;
    width:220px;
    transition: 0.1s;
}

@media(max-width: 800px){
    .post{
        padding:0;
        margin:0;
        margin-bottom: 2.5rem;
    }
    .post img{
        padding:0;
        height:auto;
        width:100vw;
    }
    .post:hover img{
        height:auto;
        width:100vw;
        
}
    
    .article-list__title{
        text-align: left;
        font-size: 2rem;
    }
    .article-list__date{
       position: relative;
        float:right;
        padding:10px;
    }
}




/*POST PAGE*/


.article{
    padding-bottom: 60px;
}

.article__body{
    font-weight:300;
    display:block;
}

.article__img{
    float:left;
    padding:10px;
}

.article__insta{
    float:left;
    width:330px;
    margin-right:10px
}

/*FOOTER*/
.footer{
    filter: drop-shadow(0px -5px 5px #00000050);
    background-color:var(--red);
    text-align: center;
}

/*ADMIN LOGIN*/
.void__body{
    background-color: black;
}


.jumpscare__div{
    width:100vw;
    height: 100vh;
    display: block;
    position: fixed;
    align-content: center;
    top:0;
    z-index: 20;
    
}

.jumpscare{
    visibility: visible;
    height: 100%;
    width: 100%;
    display: fixed;
    align-items:center;
}


/*ADD POST*/

.add-post-elements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-column-gap: 60px;
    height : 60vh;
    margin: 35px;
}

.add-post-element{
    text-align: center;
    margin:10px;
    background: var(--gray);
    filter: drop-shadow(0px 0px 5px #00000090);
    transition:0.1s;
}

.add-post-element:hover{
    filter: drop-shadow(0px 0px 5px #000000d0);
    font-size: 1.1rem;
    margin: 0px;
    transition: 0.1s;
}

.add-post-element-links{
    width: 100%;
    display: grid;
    text-align: center;
}

.add-post-element-links a{
    text-decoration: none;
    background: var(--red);
    padding:35px 20px;
    margin:10px 25px 10px 25px;
    
}













